* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #bacec1;
}
header {
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 100;

}

.container0 {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

main {
  background-color: #bacec1;

}

.parentdiv1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

a {
  text-decoration: none;

}

.address a {
  color: white;
  padding: 5px;
  transition: 0.5s ease;
  border-radius: 15px;

}

.social-links a {
  color: white;
  padding: 10px;
  transition: 0.5s ease;
  border-radius: 50%;

}

.address {
  padding: 1%;
}

.social-links {
  padding: 1%;
}

.social-links a:hover {
  background-color: #8b6c5c;


}

.address a:hover {
  background-color: #8b6c5c;

}


.logo img {
  height: 70px;
  width: 70px;
  margin: 2%;
}

.mainheader {
  padding: 1%;
  margin: 0;
  padding-right: 360px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav {
  margin: 0 190px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.mainheader ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 25px;
  line-height: 25px;

}

.mainheader ul li {
  margin: 0;
  padding-left: 10px;
  float: left;
  position: relative;
}

.mainheader ul li a {
  margin: 0;
  padding: 0 35px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  font-size: 12px;
  color: white;
  transition: 1s ease;

}


.mainheader ul li:hover ul {
  display: block;
}

.mainheader ul li ul {
  position: absolute;
  left: 6px;
  top: 25px;
  display: none;
  padding: 0;

}

.mainheader ul li ul li {
  padding: 6px 0;
  height: 30px;
  line-height: 25px;
  background-color: black;
  width: 100%;
  cursor: pointer;


}

.mainheader .nav-bar a {
  text-decoration: none;
  color: white;
  transition: 1s ease;
  border-radius: 15px;

}



.nav-bar a:hover {
  background-color: #8b6c5c;
  transition: 1s ease;
  border-radius: 15px;
}

header:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.458) 0%, rgba(0, 0, 0, 0.682) 100%), url(./images/hed2.jpg), rgba(211, 211, 211, 0.123) 0px -552.81px / 100% 521.381% no-repeat;
  transition: 0.5s ease;
  color: black;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;

}

/* main */
main {
  padding-top: 1px;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1736px 1813px #FFF, 1741px 1930px #FFF, 530px 267px #FFF, 170px 1503px #FFF, 1692px 106px #FFF, 1809px 329px #FFF, 683px 249px #FFF, 1482px 818px #FFF, 324px 1112px #FFF, 763px 1120px #FFF, 1756px 495px #FFF, 1740px 636px #FFF, 1576px 523px #FFF, 1443px 328px #FFF, 213px 1293px #FFF, 139px 562px #FFF, 1947px 1446px #FFF, 1174px 1550px #FFF, 1420px 1253px #FFF, 1593px 917px #FFF, 509px 517px #FFF, 1146px 516px #FFF, 993px 53px #FFF, 223px 347px #FFF, 821px 236px #FFF, 664px 1349px #FFF, 531px 1724px #FFF, 1154px 713px #FFF, 1103px 128px #FFF, 890px 1768px #FFF, 1394px 569px #FFF, 158px 1233px #FFF, 1745px 1289px #FFF, 1495px 710px #FFF, 1231px 1457px #FFF, 1190px 846px #FFF, 1364px 142px #FFF, 1410px 302px #FFF, 532px 32px #FFF, 1304px 1678px #FFF, 1564px 1240px #FFF, 1106px 1655px #FFF, 1910px 863px #FFF, 254px 1433px #FFF, 1135px 1371px #FFF, 1729px 1414px #FFF, 74px 1194px #FFF, 1574px 237px #FFF, 153px 1373px #FFF, 1225px 1973px #FFF, 812px 1515px #FFF, 1345px 500px #FFF, 886px 1739px #FFF, 231px 460px #FFF, 1655px 1182px #FFF, 107px 813px #FFF, 225px 305px #FFF, 1943px 947px #FFF, 631px 1573px #FFF, 1165px 796px #FFF, 1790px 815px #FFF, 1163px 1131px #FFF, 635px 732px #FFF, 1973px 1785px #FFF, 869px 156px #FFF, 1609px 627px #FFF, 1971px 1154px #FFF, 1113px 70px #FFF, 1607px 699px #FFF, 1148px 1097px #FFF, 1927px 1490px #FFF, 1379px 453px #FFF, 1042px 1328px #FFF, 1628px 1359px #FFF, 184px 1720px #FFF, 1464px 235px #FFF, 1005px 411px #FFF, 7px 308px #FFF, 1604px 547px #FFF, 930px 534px #FFF, 214px 336px #FFF, 1926px 684px #FFF, 1582px 1195px #FFF, 681px 99px #FFF, 6px 169px #FFF, 697px 1944px #FFF, 1151px 867px #FFF, 833px 1560px #FFF, 1820px 590px #FFF, 248px 1195px #FFF, 754px 259px #FFF, 1383px 1044px #FFF, 848px 1858px #FFF, 1761px 1479px #FFF, 917px 623px #FFF, 874px 1666px #FFF, 427px 1784px #FFF, 1831px 1781px #FFF, 1802px 936px #FFF, 1034px 1357px #FFF, 753px 714px #FFF, 1312px 1595px #FFF, 252px 42px #FFF, 1797px 1877px #FFF, 313px 882px #FFF, 487px 696px #FFF, 283px 929px #FFF, 1959px 1177px #FFF, 984px 1888px #FFF, 1225px 425px #FFF, 1506px 187px #FFF, 759px 927px #FFF, 415px 861px #FFF, 301px 708px #FFF, 1906px 1342px #FFF, 1296px 281px #FFF, 1265px 865px #FFF, 9px 730px #FFF, 1248px 429px #FFF, 662px 1259px #FFF, 1467px 128px #FFF, 1897px 1951px #FFF, 531px 1329px #FFF, 1350px 1112px #FFF, 1488px 1418px #FFF, 928px 1046px #FFF, 452px 1138px #FFF, 1997px 807px #FFF, 949px 405px #FFF, 1275px 1243px #FFF, 48px 1723px #FFF, 1575px 1864px #FFF, 908px 1759px #FFF, 1420px 130px #FFF, 1854px 917px #FFF, 798px 1195px #FFF, 597px 1208px #FFF, 543px 297px #FFF, 100px 1280px #FFF, 401px 739px #FFF, 1576px 209px #FFF, 1591px 1111px #FFF, 1636px 605px #FFF, 1303px 616px #FFF, 904px 199px #FFF, 587px 679px #FFF, 295px 148px #FFF, 1204px 952px #FFF, 1144px 488px #FFF, 687px 310px #FFF, 787px 1031px #FFF, 869px 453px #FFF, 1827px 1636px #FFF, 1322px 1102px #FFF, 533px 1692px #FFF, 1144px 903px #FFF, 1661px 780px #FFF, 1656px 1106px #FFF, 496px 182px #FFF, 1706px 1193px #FFF, 351px 30px #FFF, 14px 1946px #FFF, 930px 1846px #FFF, 648px 1174px #FFF, 214px 1430px #FFF, 1926px 1695px #FFF, 1112px 977px #FFF, 102px 1857px #FFF, 1056px 1495px #FFF, 717px 1623px #FFF, 1909px 600px #FFF, 960px 813px #FFF, 990px 1410px #FFF, 1767px 1489px #FFF, 576px 570px #FFF, 516px 81px #FFF, 215px 1105px #FFF, 1976px 663px #FFF, 1963px 1018px #FFF, 153px 971px #FFF, 1134px 233px #FFF, 1965px 1878px #FFF, 197px 544px #FFF, 786px 332px #FFF, 723px 1419px #FFF, 1231px 709px #FFF, 1309px 1198px #FFF, 383px 1744px #FFF, 40px 1833px #FFF, 1769px 1499px #FFF, 1552px 1243px #FFF, 496px 1207px #FFF, 1270px 1675px #FFF, 1884px 450px #FFF, 1095px 1549px #FFF, 1979px 1705px #FFF, 1287px 411px #FFF, 1437px 1407px #FFF, 1675px 1897px #FFF, 173px 1841px #FFF, 786px 1128px #FFF, 874px 1700px #FFF, 1948px 980px #FFF, 182px 657px #FFF, 1545px 1578px #FFF, 335px 1600px #FFF, 281px 712px #FFF, 96px 1343px #FFF, 430px 1328px #FFF, 1931px 888px #FFF, 705px 1697px #FFF, 1539px 1305px #FFF, 1446px 561px #FFF, 1227px 1595px #FFF, 531px 949px #FFF, 341px 944px #FFF, 1145px 695px #FFF, 1452px 1346px #FFF, 427px 23px #FFF, 583px 692px #FFF, 1534px 430px #FFF, 1496px 1062px #FFF, 1213px 1064px #FFF, 932px 1596px #FFF, 1175px 298px #FFF, 902px 534px #FFF, 581px 631px #FFF, 550px 606px #FFF, 1014px 1412px #FFF, 1830px 942px #FFF, 129px 530px #FFF, 787px 1770px #FFF, 1431px 1852px #FFF, 657px 873px #FFF, 525px 686px #FFF, 1910px 1530px #FFF, 1391px 733px #FFF, 530px 1938px #FFF, 1179px 260px #FFF, 1792px 363px #FFF, 959px 798px #FFF, 766px 319px #FFF, 621px 572px #FFF, 1881px 1649px #FFF, 1276px 823px #FFF, 1975px 1656px #FFF, 482px 614px #FFF, 1640px 269px #FFF, 1922px 1152px #FFF, 1757px 1582px #FFF, 1666px 1820px #FFF, 661px 1564px #FFF, 1718px 100px #FFF, 1515px 1459px #FFF, 275px 237px #FFF, 1428px 1898px #FFF, 1030px 363px #FFF, 210px 1247px #FFF, 1710px 1237px #FFF, 1140px 1210px #FFF, 385px 171px #FFF, 1159px 1885px #FFF, 1130px 476px #FFF, 1724px 662px #FFF, 1917px 1787px #FFF, 521px 1819px #FFF, 1242px 743px #FFF, 151px 1857px #FFF, 1295px 37px #FFF, 22px 1777px #FFF, 893px 459px #FFF, 1711px 1863px #FFF, 1602px 543px #FFF, 1148px 457px #FFF, 1531px 1624px #FFF, 248px 498px #FFF, 1418px 652px #FFF, 472px 1780px #FFF, 1614px 416px #FFF, 1984px 770px #FFF, 1070px 555px #FFF, 1234px 1219px #FFF, 1639px 1208px #FFF, 1910px 234px #FFF, 355px 683px #FFF, 213px 1577px #FFF, 275px 556px #FFF, 241px 771px #FFF, 1789px 1846px #FFF, 1020px 1214px #FFF, 774px 754px #FFF, 939px 647px #FFF, 57px 1728px #FFF, 380px 12px #FFF, 363px 318px #FFF, 1667px 137px #FFF, 1941px 272px #FFF, 1209px 504px #FFF, 214px 770px #FFF, 716px 1749px #FFF, 225px 1382px #FFF, 389px 1381px #FFF, 427px 1658px #FFF, 1725px 678px #FFF, 17px 1284px #FFF, 1238px 969px #FFF, 1958px 1903px #FFF, 1015px 648px #FFF, 1452px 340px #FFF, 1418px 1709px #FFF, 275px 1481px #FFF, 1373px 634px #FFF, 1158px 358px #FFF, 1252px 1824px #FFF, 585px 1118px #FFF, 1884px 756px #FFF, 94px 547px #FFF, 1593px 1212px #FFF, 120px 1591px #FFF, 696px 1968px #FFF, 338px 777px #FFF, 383px 1473px #FFF, 600px 1411px #FFF, 673px 600px #FFF, 726px 160px #FFF, 896px 634px #FFF, 777px 503px #FFF, 516px 634px #FFF, 1399px 1385px #FFF, 1291px 89px #FFF, 1567px 1278px #FFF, 939px 1581px #FFF, 971px 798px #FFF, 866px 1680px #FFF, 1639px 149px #FFF, 1735px 1304px #FFF, 1009px 1422px #FFF, 242px 1005px #FFF, 931px 778px #FFF, 312px 571px #FFF, 1212px 946px #FFF, 336px 1328px #FFF, 791px 237px #FFF, 1089px 1204px #FFF, 246px 531px #FFF, 417px 1125px #FFF, 1056px 1866px #FFF, 425px 1781px #FFF, 71px 899px #FFF, 199px 340px #FFF, 914px 1960px #FFF, 518px 112px #FFF, 420px 767px #FFF, 570px 1345px #FFF, 302px 896px #FFF, 1816px 1067px #FFF, 535px 1844px #FFF, 1453px 559px #FFF, 740px 1397px #FFF, 392px 994px #FFF, 259px 1986px #FFF, 818px 1862px #FFF, 1779px 1411px #FFF, 1469px 36px #FFF, 1723px 1598px #FFF, 1438px 822px #FFF, 1030px 1293px #FFF, 292px 14px #FFF, 1730px 1801px #FFF, 1725px 682px #FFF, 1071px 451px #FFF, 653px 1889px #FFF, 1898px 1357px #FFF, 800px 1569px #FFF, 1509px 1746px #FFF, 1787px 1490px #FFF, 1519px 723px #FFF, 888px 825px #FFF, 22px 1370px #FFF, 1638px 17px #FFF, 254px 318px #FFF, 609px 230px #FFF, 839px 807px #FFF, 1036px 1352px #FFF, 1948px 563px #FFF, 644px 1593px #FFF, 1708px 1710px #FFF, 133px 1861px #FFF, 1606px 920px #FFF, 989px 1132px #FFF, 800px 1756px #FFF, 1946px 936px #FFF, 1728px 971px #FFF, 1898px 545px #FFF, 583px 1109px #FFF, 1350px 585px #FFF, 615px 1847px #FFF, 1522px 1582px #FFF, 1377px 1872px #FFF, 1243px 1945px #FFF, 1160px 1100px #FFF, 1581px 879px #FFF, 269px 100px #FFF, 585px 836px #FFF, 376px 778px #FFF, 1775px 1455px #FFF, 1289px 1839px #FFF, 185px 815px #FFF, 1221px 1955px #FFF, 507px 670px #FFF, 44px 1793px #FFF, 498px 1705px #FFF, 719px 1655px #FFF, 206px 400px #FFF, 1738px 1530px #FFF, 1987px 996px #FFF, 1100px 594px #FFF, 643px 1439px #FFF, 614px 80px #FFF, 855px 1560px #FFF, 234px 1208px #FFF, 1982px 1011px #FFF, 1505px 1610px #FFF, 28px 1462px #FFF, 1545px 542px #FFF, 202px 1855px #FFF, 1627px 868px #FFF, 243px 294px #FFF, 1865px 772px #FFF, 1924px 191px #FFF, 815px 1222px #FFF, 206px 1440px #FFF, 1095px 560px #FFF, 1672px 314px #FFF, 1786px 387px #FFF, 1253px 1145px #FFF, 1379px 1795px #FFF, 589px 1760px #FFF, 1928px 574px #FFF, 430px 1959px #FFF, 1897px 1581px #FFF, 1468px 1491px #FFF, 243px 546px #FFF, 1637px 1455px #FFF, 573px 1032px #FFF, 1347px 1832px #FFF, 112px 76px #FFF, 1258px 1409px #FFF, 878px 1225px #FFF, 1619px 1174px #FFF, 573px 442px #FFF, 851px 1870px #FFF, 281px 655px #FFF, 1829px 373px #FFF, 252px 1509px #FFF, 1506px 1447px #FFF, 1498px 648px #FFF, 1787px 688px #FFF, 164px 355px #FFF, 219px 459px #FFF, 1581px 373px #FFF, 1660px 540px #FFF, 940px 1734px #FFF, 1743px 1110px #FFF, 1930px 859px #FFF, 376px 1124px #FFF, 833px 73px #FFF, 1088px 1704px #FFF, 244px 1617px #FFF, 1609px 896px #FFF, 251px 1655px #FFF, 503px 30px #FFF, 558px 35px #FFF, 40px 652px #FFF, 1868px 1022px #FFF, 1723px 729px #FFF, 1387px 1847px #FFF, 1239px 1567px #FFF, 1182px 1576px #FFF, 1652px 956px #FFF, 770px 1688px #FFF, 571px 1074px #FFF, 1500px 1285px #FFF, 1225px 1226px #FFF, 833px 1415px #FFF, 506px 1064px #FFF, 1010px 1321px #FFF, 1853px 355px #FFF, 577px 1232px #FFF, 513px 413px #FFF, 297px 229px #FFF, 718px 1191px #FFF, 1072px 1508px #FFF, 76px 171px #FFF, 414px 264px #FFF, 615px 1514px #FFF, 1017px 1711px #FFF, 1274px 882px #FFF, 949px 1168px #FFF, 1314px 551px #FFF, 523px 1443px #FFF, 898px 1529px #FFF, 1230px 392px #FFF, 1648px 659px #FFF, 262px 801px #FFF, 841px 1714px #FFF, 1833px 123px #FFF, 1732px 1544px #FFF, 517px 666px #FFF, 1204px 1271px #FFF, 1761px 1330px #FFF, 1146px 1965px #FFF, 1758px 1280px #FFF, 1836px 1143px #FFF, 1217px 1164px #FFF, 850px 102px #FFF, 461px 1274px #FFF, 1295px 769px #FFF, 427px 1601px #FFF, 470px 159px #FFF, 202px 893px #FFF, 985px 384px #FFF, 264px 404px #FFF, 264px 18px #FFF, 382px 575px #FFF, 964px 1516px #FFF, 806px 987px #FFF, 1809px 159px #FFF, 1419px 303px #FFF, 511px 1002px #FFF, 1731px 247px #FFF, 520px 1895px #FFF, 83px 703px #FFF, 1658px 120px #FFF, 1675px 1393px #FFF, 1494px 417px #FFF, 519px 1652px #FFF, 975px 1660px #FFF, 773px 872px #FFF, 477px 1120px #FFF, 1740px 792px #FFF, 115px 1028px #FFF, 380px 44px #FFF, 824px 549px #FFF, 367px 1402px #FFF, 1741px 836px #FFF, 1089px 529px #FFF, 280px 188px #FFF, 1696px 1707px #FFF, 1586px 1459px #FFF, 160px 10px #FFF, 979px 728px #FFF, 1483px 608px #FFF, 531px 1791px #FFF, 1313px 433px #FFF, 1186px 1200px #FFF, 1713px 1595px #FFF, 1110px 913px #FFF, 1176px 766px #FFF, 47px 651px #FFF, 1531px 255px #FFF, 610px 229px #FFF, 100px 1350px #FFF, 1274px 729px #FFF, 1338px 276px #FFF, 108px 18px #FFF, 1391px 1149px #FFF, 627px 1466px #FFF, 1874px 1871px #FFF, 460px 135px #FFF, 1197px 875px #FFF, 248px 1608px #FFF, 664px 182px #FFF, 1203px 1865px #FFF, 404px 1606px #FFF, 260px 1225px #FFF, 243px 1165px #FFF, 197px 759px #FFF, 1889px 129px #FFF, 186px 1151px #FFF, 1464px 634px #FFF, 555px 768px #FFF, 164px 119px #FFF, 1509px 1210px #FFF, 1512px 1580px #FFF, 618px 1218px #FFF, 647px 919px #FFF, 858px 72px #FFF, 696px 1356px #FFF, 1547px 9px #FFF, 1866px 567px #FFF, 1572px 883px #FFF, 234px 296px #FFF, 279px 1348px #FFF, 924px 165px #FFF, 1930px 1944px #FFF, 1630px 529px #FFF, 114px 978px #FFF, 1659px 1019px #FFF, 592px 1424px #FFF, 1677px 1165px #FFF, 13px 1920px #FFF, 1647px 1512px #FFF, 1843px 445px #FFF, 77px 1923px #FFF, 1774px 1321px #FFF, 386px 1229px #FFF, 1751px 1563px #FFF, 312px 1261px #FFF, 1559px 594px #FFF, 942px 1362px #FFF, 1003px 762px #FFF, 1654px 818px #FFF, 1154px 280px #FFF, 222px 564px #FFF, 1385px 53px #FFF, 774px 979px #FFF, 1082px 263px #FFF, 973px 1681px #FFF, 708px 126px #FFF, 1303px 1352px #FFF, 101px 1716px #FFF, 23px 561px #FFF, 1026px 1477px #FFF, 1522px 212px #FFF, 747px 1708px #FFF, 1992px 544px #FFF, 1343px 1047px #FFF, 1853px 1421px #FFF, 490px 265px #FFF, 1363px 599px #FFF, 969px 1852px #FFF, 1529px 1549px #FFF, 73px 1600px #FFF, 77px 651px #FFF, 219px 231px #FFF, 1178px 1923px #FFF, 720px 368px #FFF, 1158px 1792px #FFF, 299px 713px #FFF, 836px 1190px #FFF, 665px 304px #FFF, 1176px 1662px #FFF, 614px 1641px #FFF, 92px 414px #FFF, 125px 371px #FFF, 1395px 1854px #FFF, 24px 1684px #FFF, 840px 1576px #FFF, 1688px 1139px #FFF, 312px 636px #FFF, 673px 884px #FFF, 358px 727px #FFF, 1842px 1284px #FFF, 519px 1205px #FFF, 1044px 1216px #FFF, 381px 1888px #FFF, 57px 1217px #FFF, 1980px 1566px #FFF, 1417px 1010px #FFF, 1800px 724px #FFF, 1187px 1991px #FFF, 796px 962px #FFF, 1344px 950px #FFF, 1838px 1171px #FFF, 1449px 46px #FFF, 1581px 993px #FFF, 562px 708px #FFF, 913px 822px #FFF, 28px 668px #FFF, 1165px 1338px #FFF, 1692px 1792px #FFF, 1638px 883px #FFF, 475px 1857px #FFF, 604px 1304px #FFF, 1087px 638px #FFF, 236px 79px #FFF, 878px 1386px #FFF, 599px 1770px #FFF, 1630px 212px #FFF, 1810px 452px #FFF, 984px 1613px #FFF, 617px 989px #FFF, 376px 495px #FFF, 131px 943px #FFF, 1158px 897px #FFF, 43px 1270px #FFF, 258px 953px #FFF, 153px 93px #FFF, 282px 1535px #FFF, 183px 473px #FFF, 34px 1639px #FFF, 1163px 1291px #FFF, 106px 276px #FFF, 187px 1119px #FFF, 215px 1758px #FFF, 1656px 1342px #FFF, 1011px 1571px #FFF, 166px 1634px #FFF, 1418px 1840px #FFF;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1736px 1813px #FFF, 1741px 1930px #FFF, 530px 267px #FFF, 170px 1503px #FFF, 1692px 106px #FFF, 1809px 329px #FFF, 683px 249px #FFF, 1482px 818px #FFF, 324px 1112px #FFF, 763px 1120px #FFF, 1756px 495px #FFF, 1740px 636px #FFF, 1576px 523px #FFF, 1443px 328px #FFF, 213px 1293px #FFF, 139px 562px #FFF, 1947px 1446px #FFF, 1174px 1550px #FFF, 1420px 1253px #FFF, 1593px 917px #FFF, 509px 517px #FFF, 1146px 516px #FFF, 993px 53px #FFF, 223px 347px #FFF, 821px 236px #FFF, 664px 1349px #FFF, 531px 1724px #FFF, 1154px 713px #FFF, 1103px 128px #FFF, 890px 1768px #FFF, 1394px 569px #FFF, 158px 1233px #FFF, 1745px 1289px #FFF, 1495px 710px #FFF, 1231px 1457px #FFF, 1190px 846px #FFF, 1364px 142px #FFF, 1410px 302px #FFF, 532px 32px #FFF, 1304px 1678px #FFF, 1564px 1240px #FFF, 1106px 1655px #FFF, 1910px 863px #FFF, 254px 1433px #FFF, 1135px 1371px #FFF, 1729px 1414px #FFF, 74px 1194px #FFF, 1574px 237px #FFF, 153px 1373px #FFF, 1225px 1973px #FFF, 812px 1515px #FFF, 1345px 500px #FFF, 886px 1739px #FFF, 231px 460px #FFF, 1655px 1182px #FFF, 107px 813px #FFF, 225px 305px #FFF, 1943px 947px #FFF, 631px 1573px #FFF, 1165px 796px #FFF, 1790px 815px #FFF, 1163px 1131px #FFF, 635px 732px #FFF, 1973px 1785px #FFF, 869px 156px #FFF, 1609px 627px #FFF, 1971px 1154px #FFF, 1113px 70px #FFF, 1607px 699px #FFF, 1148px 1097px #FFF, 1927px 1490px #FFF, 1379px 453px #FFF, 1042px 1328px #FFF, 1628px 1359px #FFF, 184px 1720px #FFF, 1464px 235px #FFF, 1005px 411px #FFF, 7px 308px #FFF, 1604px 547px #FFF, 930px 534px #FFF, 214px 336px #FFF, 1926px 684px #FFF, 1582px 1195px #FFF, 681px 99px #FFF, 6px 169px #FFF, 697px 1944px #FFF, 1151px 867px #FFF, 833px 1560px #FFF, 1820px 590px #FFF, 248px 1195px #FFF, 754px 259px #FFF, 1383px 1044px #FFF, 848px 1858px #FFF, 1761px 1479px #FFF, 917px 623px #FFF, 874px 1666px #FFF, 427px 1784px #FFF, 1831px 1781px #FFF, 1802px 936px #FFF, 1034px 1357px #FFF, 753px 714px #FFF, 1312px 1595px #FFF, 252px 42px #FFF, 1797px 1877px #FFF, 313px 882px #FFF, 487px 696px #FFF, 283px 929px #FFF, 1959px 1177px #FFF, 984px 1888px #FFF, 1225px 425px #FFF, 1506px 187px #FFF, 759px 927px #FFF, 415px 861px #FFF, 301px 708px #FFF, 1906px 1342px #FFF, 1296px 281px #FFF, 1265px 865px #FFF, 9px 730px #FFF, 1248px 429px #FFF, 662px 1259px #FFF, 1467px 128px #FFF, 1897px 1951px #FFF, 531px 1329px #FFF, 1350px 1112px #FFF, 1488px 1418px #FFF, 928px 1046px #FFF, 452px 1138px #FFF, 1997px 807px #FFF, 949px 405px #FFF, 1275px 1243px #FFF, 48px 1723px #FFF, 1575px 1864px #FFF, 908px 1759px #FFF, 1420px 130px #FFF, 1854px 917px #FFF, 798px 1195px #FFF, 597px 1208px #FFF, 543px 297px #FFF, 100px 1280px #FFF, 401px 739px #FFF, 1576px 209px #FFF, 1591px 1111px #FFF, 1636px 605px #FFF, 1303px 616px #FFF, 904px 199px #FFF, 587px 679px #FFF, 295px 148px #FFF, 1204px 952px #FFF, 1144px 488px #FFF, 687px 310px #FFF, 787px 1031px #FFF, 869px 453px #FFF, 1827px 1636px #FFF, 1322px 1102px #FFF, 533px 1692px #FFF, 1144px 903px #FFF, 1661px 780px #FFF, 1656px 1106px #FFF, 496px 182px #FFF, 1706px 1193px #FFF, 351px 30px #FFF, 14px 1946px #FFF, 930px 1846px #FFF, 648px 1174px #FFF, 214px 1430px #FFF, 1926px 1695px #FFF, 1112px 977px #FFF, 102px 1857px #FFF, 1056px 1495px #FFF, 717px 1623px #FFF, 1909px 600px #FFF, 960px 813px #FFF, 990px 1410px #FFF, 1767px 1489px #FFF, 576px 570px #FFF, 516px 81px #FFF, 215px 1105px #FFF, 1976px 663px #FFF, 1963px 1018px #FFF, 153px 971px #FFF, 1134px 233px #FFF, 1965px 1878px #FFF, 197px 544px #FFF, 786px 332px #FFF, 723px 1419px #FFF, 1231px 709px #FFF, 1309px 1198px #FFF, 383px 1744px #FFF, 40px 1833px #FFF, 1769px 1499px #FFF, 1552px 1243px #FFF, 496px 1207px #FFF, 1270px 1675px #FFF, 1884px 450px #FFF, 1095px 1549px #FFF, 1979px 1705px #FFF, 1287px 411px #FFF, 1437px 1407px #FFF, 1675px 1897px #FFF, 173px 1841px #FFF, 786px 1128px #FFF, 874px 1700px #FFF, 1948px 980px #FFF, 182px 657px #FFF, 1545px 1578px #FFF, 335px 1600px #FFF, 281px 712px #FFF, 96px 1343px #FFF, 430px 1328px #FFF, 1931px 888px #FFF, 705px 1697px #FFF, 1539px 1305px #FFF, 1446px 561px #FFF, 1227px 1595px #FFF, 531px 949px #FFF, 341px 944px #FFF, 1145px 695px #FFF, 1452px 1346px #FFF, 427px 23px #FFF, 583px 692px #FFF, 1534px 430px #FFF, 1496px 1062px #FFF, 1213px 1064px #FFF, 932px 1596px #FFF, 1175px 298px #FFF, 902px 534px #FFF, 581px 631px #FFF, 550px 606px #FFF, 1014px 1412px #FFF, 1830px 942px #FFF, 129px 530px #FFF, 787px 1770px #FFF, 1431px 1852px #FFF, 657px 873px #FFF, 525px 686px #FFF, 1910px 1530px #FFF, 1391px 733px #FFF, 530px 1938px #FFF, 1179px 260px #FFF, 1792px 363px #FFF, 959px 798px #FFF, 766px 319px #FFF, 621px 572px #FFF, 1881px 1649px #FFF, 1276px 823px #FFF, 1975px 1656px #FFF, 482px 614px #FFF, 1640px 269px #FFF, 1922px 1152px #FFF, 1757px 1582px #FFF, 1666px 1820px #FFF, 661px 1564px #FFF, 1718px 100px #FFF, 1515px 1459px #FFF, 275px 237px #FFF, 1428px 1898px #FFF, 1030px 363px #FFF, 210px 1247px #FFF, 1710px 1237px #FFF, 1140px 1210px #FFF, 385px 171px #FFF, 1159px 1885px #FFF, 1130px 476px #FFF, 1724px 662px #FFF, 1917px 1787px #FFF, 521px 1819px #FFF, 1242px 743px #FFF, 151px 1857px #FFF, 1295px 37px #FFF, 22px 1777px #FFF, 893px 459px #FFF, 1711px 1863px #FFF, 1602px 543px #FFF, 1148px 457px #FFF, 1531px 1624px #FFF, 248px 498px #FFF, 1418px 652px #FFF, 472px 1780px #FFF, 1614px 416px #FFF, 1984px 770px #FFF, 1070px 555px #FFF, 1234px 1219px #FFF, 1639px 1208px #FFF, 1910px 234px #FFF, 355px 683px #FFF, 213px 1577px #FFF, 275px 556px #FFF, 241px 771px #FFF, 1789px 1846px #FFF, 1020px 1214px #FFF, 774px 754px #FFF, 939px 647px #FFF, 57px 1728px #FFF, 380px 12px #FFF, 363px 318px #FFF, 1667px 137px #FFF, 1941px 272px #FFF, 1209px 504px #FFF, 214px 770px #FFF, 716px 1749px #FFF, 225px 1382px #FFF, 389px 1381px #FFF, 427px 1658px #FFF, 1725px 678px #FFF, 17px 1284px #FFF, 1238px 969px #FFF, 1958px 1903px #FFF, 1015px 648px #FFF, 1452px 340px #FFF, 1418px 1709px #FFF, 275px 1481px #FFF, 1373px 634px #FFF, 1158px 358px #FFF, 1252px 1824px #FFF, 585px 1118px #FFF, 1884px 756px #FFF, 94px 547px #FFF, 1593px 1212px #FFF, 120px 1591px #FFF, 696px 1968px #FFF, 338px 777px #FFF, 383px 1473px #FFF, 600px 1411px #FFF, 673px 600px #FFF, 726px 160px #FFF, 896px 634px #FFF, 777px 503px #FFF, 516px 634px #FFF, 1399px 1385px #FFF, 1291px 89px #FFF, 1567px 1278px #FFF, 939px 1581px #FFF, 971px 798px #FFF, 866px 1680px #FFF, 1639px 149px #FFF, 1735px 1304px #FFF, 1009px 1422px #FFF, 242px 1005px #FFF, 931px 778px #FFF, 312px 571px #FFF, 1212px 946px #FFF, 336px 1328px #FFF, 791px 237px #FFF, 1089px 1204px #FFF, 246px 531px #FFF, 417px 1125px #FFF, 1056px 1866px #FFF, 425px 1781px #FFF, 71px 899px #FFF, 199px 340px #FFF, 914px 1960px #FFF, 518px 112px #FFF, 420px 767px #FFF, 570px 1345px #FFF, 302px 896px #FFF, 1816px 1067px #FFF, 535px 1844px #FFF, 1453px 559px #FFF, 740px 1397px #FFF, 392px 994px #FFF, 259px 1986px #FFF, 818px 1862px #FFF, 1779px 1411px #FFF, 1469px 36px #FFF, 1723px 1598px #FFF, 1438px 822px #FFF, 1030px 1293px #FFF, 292px 14px #FFF, 1730px 1801px #FFF, 1725px 682px #FFF, 1071px 451px #FFF, 653px 1889px #FFF, 1898px 1357px #FFF, 800px 1569px #FFF, 1509px 1746px #FFF, 1787px 1490px #FFF, 1519px 723px #FFF, 888px 825px #FFF, 22px 1370px #FFF, 1638px 17px #FFF, 254px 318px #FFF, 609px 230px #FFF, 839px 807px #FFF, 1036px 1352px #FFF, 1948px 563px #FFF, 644px 1593px #FFF, 1708px 1710px #FFF, 133px 1861px #FFF, 1606px 920px #FFF, 989px 1132px #FFF, 800px 1756px #FFF, 1946px 936px #FFF, 1728px 971px #FFF, 1898px 545px #FFF, 583px 1109px #FFF, 1350px 585px #FFF, 615px 1847px #FFF, 1522px 1582px #FFF, 1377px 1872px #FFF, 1243px 1945px #FFF, 1160px 1100px #FFF, 1581px 879px #FFF, 269px 100px #FFF, 585px 836px #FFF, 376px 778px #FFF, 1775px 1455px #FFF, 1289px 1839px #FFF, 185px 815px #FFF, 1221px 1955px #FFF, 507px 670px #FFF, 44px 1793px #FFF, 498px 1705px #FFF, 719px 1655px #FFF, 206px 400px #FFF, 1738px 1530px #FFF, 1987px 996px #FFF, 1100px 594px #FFF, 643px 1439px #FFF, 614px 80px #FFF, 855px 1560px #FFF, 234px 1208px #FFF, 1982px 1011px #FFF, 1505px 1610px #FFF, 28px 1462px #FFF, 1545px 542px #FFF, 202px 1855px #FFF, 1627px 868px #FFF, 243px 294px #FFF, 1865px 772px #FFF, 1924px 191px #FFF, 815px 1222px #FFF, 206px 1440px #FFF, 1095px 560px #FFF, 1672px 314px #FFF, 1786px 387px #FFF, 1253px 1145px #FFF, 1379px 1795px #FFF, 589px 1760px #FFF, 1928px 574px #FFF, 430px 1959px #FFF, 1897px 1581px #FFF, 1468px 1491px #FFF, 243px 546px #FFF, 1637px 1455px #FFF, 573px 1032px #FFF, 1347px 1832px #FFF, 112px 76px #FFF, 1258px 1409px #FFF, 878px 1225px #FFF, 1619px 1174px #FFF, 573px 442px #FFF, 851px 1870px #FFF, 281px 655px #FFF, 1829px 373px #FFF, 252px 1509px #FFF, 1506px 1447px #FFF, 1498px 648px #FFF, 1787px 688px #FFF, 164px 355px #FFF, 219px 459px #FFF, 1581px 373px #FFF, 1660px 540px #FFF, 940px 1734px #FFF, 1743px 1110px #FFF, 1930px 859px #FFF, 376px 1124px #FFF, 833px 73px #FFF, 1088px 1704px #FFF, 244px 1617px #FFF, 1609px 896px #FFF, 251px 1655px #FFF, 503px 30px #FFF, 558px 35px #FFF, 40px 652px #FFF, 1868px 1022px #FFF, 1723px 729px #FFF, 1387px 1847px #FFF, 1239px 1567px #FFF, 1182px 1576px #FFF, 1652px 956px #FFF, 770px 1688px #FFF, 571px 1074px #FFF, 1500px 1285px #FFF, 1225px 1226px #FFF, 833px 1415px #FFF, 506px 1064px #FFF, 1010px 1321px #FFF, 1853px 355px #FFF, 577px 1232px #FFF, 513px 413px #FFF, 297px 229px #FFF, 718px 1191px #FFF, 1072px 1508px #FFF, 76px 171px #FFF, 414px 264px #FFF, 615px 1514px #FFF, 1017px 1711px #FFF, 1274px 882px #FFF, 949px 1168px #FFF, 1314px 551px #FFF, 523px 1443px #FFF, 898px 1529px #FFF, 1230px 392px #FFF, 1648px 659px #FFF, 262px 801px #FFF, 841px 1714px #FFF, 1833px 123px #FFF, 1732px 1544px #FFF, 517px 666px #FFF, 1204px 1271px #FFF, 1761px 1330px #FFF, 1146px 1965px #FFF, 1758px 1280px #FFF, 1836px 1143px #FFF, 1217px 1164px #FFF, 850px 102px #FFF, 461px 1274px #FFF, 1295px 769px #FFF, 427px 1601px #FFF, 470px 159px #FFF, 202px 893px #FFF, 985px 384px #FFF, 264px 404px #FFF, 264px 18px #FFF, 382px 575px #FFF, 964px 1516px #FFF, 806px 987px #FFF, 1809px 159px #FFF, 1419px 303px #FFF, 511px 1002px #FFF, 1731px 247px #FFF, 520px 1895px #FFF, 83px 703px #FFF, 1658px 120px #FFF, 1675px 1393px #FFF, 1494px 417px #FFF, 519px 1652px #FFF, 975px 1660px #FFF, 773px 872px #FFF, 477px 1120px #FFF, 1740px 792px #FFF, 115px 1028px #FFF, 380px 44px #FFF, 824px 549px #FFF, 367px 1402px #FFF, 1741px 836px #FFF, 1089px 529px #FFF, 280px 188px #FFF, 1696px 1707px #FFF, 1586px 1459px #FFF, 160px 10px #FFF, 979px 728px #FFF, 1483px 608px #FFF, 531px 1791px #FFF, 1313px 433px #FFF, 1186px 1200px #FFF, 1713px 1595px #FFF, 1110px 913px #FFF, 1176px 766px #FFF, 47px 651px #FFF, 1531px 255px #FFF, 610px 229px #FFF, 100px 1350px #FFF, 1274px 729px #FFF, 1338px 276px #FFF, 108px 18px #FFF, 1391px 1149px #FFF, 627px 1466px #FFF, 1874px 1871px #FFF, 460px 135px #FFF, 1197px 875px #FFF, 248px 1608px #FFF, 664px 182px #FFF, 1203px 1865px #FFF, 404px 1606px #FFF, 260px 1225px #FFF, 243px 1165px #FFF, 197px 759px #FFF, 1889px 129px #FFF, 186px 1151px #FFF, 1464px 634px #FFF, 555px 768px #FFF, 164px 119px #FFF, 1509px 1210px #FFF, 1512px 1580px #FFF, 618px 1218px #FFF, 647px 919px #FFF, 858px 72px #FFF, 696px 1356px #FFF, 1547px 9px #FFF, 1866px 567px #FFF, 1572px 883px #FFF, 234px 296px #FFF, 279px 1348px #FFF, 924px 165px #FFF, 1930px 1944px #FFF, 1630px 529px #FFF, 114px 978px #FFF, 1659px 1019px #FFF, 592px 1424px #FFF, 1677px 1165px #FFF, 13px 1920px #FFF, 1647px 1512px #FFF, 1843px 445px #FFF, 77px 1923px #FFF, 1774px 1321px #FFF, 386px 1229px #FFF, 1751px 1563px #FFF, 312px 1261px #FFF, 1559px 594px #FFF, 942px 1362px #FFF, 1003px 762px #FFF, 1654px 818px #FFF, 1154px 280px #FFF, 222px 564px #FFF, 1385px 53px #FFF, 774px 979px #FFF, 1082px 263px #FFF, 973px 1681px #FFF, 708px 126px #FFF, 1303px 1352px #FFF, 101px 1716px #FFF, 23px 561px #FFF, 1026px 1477px #FFF, 1522px 212px #FFF, 747px 1708px #FFF, 1992px 544px #FFF, 1343px 1047px #FFF, 1853px 1421px #FFF, 490px 265px #FFF, 1363px 599px #FFF, 969px 1852px #FFF, 1529px 1549px #FFF, 73px 1600px #FFF, 77px 651px #FFF, 219px 231px #FFF, 1178px 1923px #FFF, 720px 368px #FFF, 1158px 1792px #FFF, 299px 713px #FFF, 836px 1190px #FFF, 665px 304px #FFF, 1176px 1662px #FFF, 614px 1641px #FFF, 92px 414px #FFF, 125px 371px #FFF, 1395px 1854px #FFF, 24px 1684px #FFF, 840px 1576px #FFF, 1688px 1139px #FFF, 312px 636px #FFF, 673px 884px #FFF, 358px 727px #FFF, 1842px 1284px #FFF, 519px 1205px #FFF, 1044px 1216px #FFF, 381px 1888px #FFF, 57px 1217px #FFF, 1980px 1566px #FFF, 1417px 1010px #FFF, 1800px 724px #FFF, 1187px 1991px #FFF, 796px 962px #FFF, 1344px 950px #FFF, 1838px 1171px #FFF, 1449px 46px #FFF, 1581px 993px #FFF, 562px 708px #FFF, 913px 822px #FFF, 28px 668px #FFF, 1165px 1338px #FFF, 1692px 1792px #FFF, 1638px 883px #FFF, 475px 1857px #FFF, 604px 1304px #FFF, 1087px 638px #FFF, 236px 79px #FFF, 878px 1386px #FFF, 599px 1770px #FFF, 1630px 212px #FFF, 1810px 452px #FFF, 984px 1613px #FFF, 617px 989px #FFF, 376px 495px #FFF, 131px 943px #FFF, 1158px 897px #FFF, 43px 1270px #FFF, 258px 953px #FFF, 153px 93px #FFF, 282px 1535px #FFF, 183px 473px #FFF, 34px 1639px #FFF, 1163px 1291px #FFF, 106px 276px #FFF, 187px 1119px #FFF, 215px 1758px #FFF, 1656px 1342px #FFF, 1011px 1571px #FFF, 166px 1634px #FFF, 1418px 1840px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 361px 256px #FFF, 394px 1658px #FFF, 340px 1553px #FFF, 953px 264px #FFF, 1953px 122px #FFF, 111px 1417px #FFF, 352px 235px #FFF, 611px 691px #FFF, 143px 496px #FFF, 1350px 1057px #FFF, 1792px 1997px #FFF, 1425px 377px #FFF, 476px 1413px #FFF, 1022px 630px #FFF, 1893px 1134px #FFF, 1054px 1918px #FFF, 1337px 1467px #FFF, 1975px 1087px #FFF, 1347px 1485px #FFF, 161px 1252px #FFF, 1930px 358px #FFF, 730px 502px #FFF, 1097px 1628px #FFF, 1760px 1932px #FFF, 1895px 83px #FFF, 1106px 436px #FFF, 628px 1381px #FFF, 1791px 1607px #FFF, 1180px 1936px #FFF, 1447px 411px #FFF, 1800px 801px #FFF, 1097px 1169px #FFF, 126px 1327px #FFF, 1598px 1359px #FFF, 740px 591px #FFF, 122px 1563px #FFF, 182px 1396px #FFF, 1607px 1546px #FFF, 604px 863px #FFF, 1088px 1173px #FFF, 1097px 216px #FFF, 204px 347px #FFF, 1952px 1212px #FFF, 1460px 1718px #FFF, 1177px 782px #FFF, 1588px 1672px #FFF, 1316px 855px #FFF, 1532px 841px #FFF, 555px 1997px #FFF, 1422px 808px #FFF, 1416px 1836px #FFF, 661px 255px #FFF, 557px 1482px #FFF, 201px 1874px #FFF, 363px 1389px #FFF, 391px 396px #FFF, 571px 427px #FFF, 1876px 540px #FFF, 1381px 1464px #FFF, 707px 385px #FFF, 444px 400px #FFF, 1754px 1152px #FFF, 878px 1388px #FFF, 1837px 411px #FFF, 777px 236px #FFF, 363px 1408px #FFF, 8px 262px #FFF, 1936px 106px #FFF, 1022px 1258px #FFF, 1987px 618px #FFF, 330px 956px #FFF, 1542px 736px #FFF, 1198px 274px #FFF, 1300px 444px #FFF, 1456px 1131px #FFF, 50px 784px #FFF, 632px 1859px #FFF, 1503px 273px #FFF, 490px 1557px #FFF, 1682px 1375px #FFF, 440px 1490px #FFF, 782px 1273px #FFF, 1017px 844px #FFF, 734px 1399px #FFF, 1164px 961px #FFF, 356px 1693px #FFF, 1072px 1622px #FFF, 91px 1200px #FFF, 813px 1790px #FFF, 927px 727px #FFF, 766px 46px #FFF, 924px 19px #FFF, 537px 1364px #FFF, 66px 1758px #FFF, 879px 976px #FFF, 1512px 763px #FFF, 885px 1753px #FFF, 325px 1710px #FFF, 14px 107px #FFF, 1787px 261px #FFF, 272px 190px #FFF, 1354px 1573px #FFF, 512px 746px #FFF, 1243px 1066px #FFF, 1084px 958px #FFF, 428px 46px #FFF, 58px 1039px #FFF, 1949px 123px #FFF, 808px 1496px #FFF, 1410px 585px #FFF, 405px 330px #FFF, 785px 94px #FFF, 1002px 1919px #FFF, 1119px 750px #FFF, 918px 793px #FFF, 962px 749px #FFF, 299px 376px #FFF, 255px 1760px #FFF, 749px 1086px #FFF, 76px 577px #FFF, 603px 1629px #FFF, 1588px 184px #FFF, 1258px 1885px #FFF, 663px 466px #FFF, 1027px 465px #FFF, 741px 82px #FFF, 1360px 1695px #FFF, 1460px 1431px #FFF, 432px 1120px #FFF, 235px 183px #FFF, 1900px 1877px #FFF, 621px 836px #FFF, 1737px 1182px #FFF, 652px 1317px #FFF, 1681px 585px #FFF, 631px 1602px #FFF, 1584px 1443px #FFF, 1746px 343px #FFF, 1289px 1718px #FFF, 1859px 943px #FFF, 626px 284px #FFF, 201px 1749px #FFF, 1077px 1969px #FFF, 700px 388px #FFF, 775px 801px #FFF, 1988px 1050px #FFF, 178px 566px #FFF, 943px 1827px #FFF, 1161px 1104px #FFF, 1648px 1057px #FFF, 692px 126px #FFF, 1338px 37px #FFF, 1516px 914px #FFF, 302px 114px #FFF, 630px 820px #FFF, 1464px 1381px #FFF, 364px 1723px #FFF, 1871px 123px #FFF, 418px 1139px #FFF, 1481px 1245px #FFF, 627px 634px #FFF, 1659px 443px #FFF, 960px 1167px #FFF, 1702px 1934px #FFF, 1783px 1519px #FFF, 231px 1483px #FFF, 1623px 1262px #FFF, 287px 1554px #FFF, 822px 981px #FFF, 1149px 1930px #FFF, 32px 1191px #FFF, 1737px 285px #FFF, 1929px 1290px #FFF, 1179px 550px #FFF, 65px 825px #FFF, 1975px 1261px #FFF, 1808px 395px #FFF, 1844px 1721px #FFF, 879px 1665px #FFF, 185px 1472px #FFF, 657px 1492px #FFF, 1931px 1081px #FFF, 89px 1793px #FFF, 106px 365px #FFF, 254px 678px #FFF, 1711px 395px #FFF, 214px 925px #FFF, 456px 1976px #FFF, 1089px 1633px #FFF, 667px 572px #FFF, 1898px 742px #FFF, 141px 1819px #FFF, 461px 1709px #FFF, 1124px 792px #FFF, 785px 1700px #FFF, 529px 1872px #FFF, 684px 983px #FFF, 984px 423px #FFF, 113px 606px #FFF, 1472px 679px #FFF;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 361px 256px #FFF, 394px 1658px #FFF, 340px 1553px #FFF, 953px 264px #FFF, 1953px 122px #FFF, 111px 1417px #FFF, 352px 235px #FFF, 611px 691px #FFF, 143px 496px #FFF, 1350px 1057px #FFF, 1792px 1997px #FFF, 1425px 377px #FFF, 476px 1413px #FFF, 1022px 630px #FFF, 1893px 1134px #FFF, 1054px 1918px #FFF, 1337px 1467px #FFF, 1975px 1087px #FFF, 1347px 1485px #FFF, 161px 1252px #FFF, 1930px 358px #FFF, 730px 502px #FFF, 1097px 1628px #FFF, 1760px 1932px #FFF, 1895px 83px #FFF, 1106px 436px #FFF, 628px 1381px #FFF, 1791px 1607px #FFF, 1180px 1936px #FFF, 1447px 411px #FFF, 1800px 801px #FFF, 1097px 1169px #FFF, 126px 1327px #FFF, 1598px 1359px #FFF, 740px 591px #FFF, 122px 1563px #FFF, 182px 1396px #FFF, 1607px 1546px #FFF, 604px 863px #FFF, 1088px 1173px #FFF, 1097px 216px #FFF, 204px 347px #FFF, 1952px 1212px #FFF, 1460px 1718px #FFF, 1177px 782px #FFF, 1588px 1672px #FFF, 1316px 855px #FFF, 1532px 841px #FFF, 555px 1997px #FFF, 1422px 808px #FFF, 1416px 1836px #FFF, 661px 255px #FFF, 557px 1482px #FFF, 201px 1874px #FFF, 363px 1389px #FFF, 391px 396px #FFF, 571px 427px #FFF, 1876px 540px #FFF, 1381px 1464px #FFF, 707px 385px #FFF, 444px 400px #FFF, 1754px 1152px #FFF, 878px 1388px #FFF, 1837px 411px #FFF, 777px 236px #FFF, 363px 1408px #FFF, 8px 262px #FFF, 1936px 106px #FFF, 1022px 1258px #FFF, 1987px 618px #FFF, 330px 956px #FFF, 1542px 736px #FFF, 1198px 274px #FFF, 1300px 444px #FFF, 1456px 1131px #FFF, 50px 784px #FFF, 632px 1859px #FFF, 1503px 273px #FFF, 490px 1557px #FFF, 1682px 1375px #FFF, 440px 1490px #FFF, 782px 1273px #FFF, 1017px 844px #FFF, 734px 1399px #FFF, 1164px 961px #FFF, 356px 1693px #FFF, 1072px 1622px #FFF, 91px 1200px #FFF, 813px 1790px #FFF, 927px 727px #FFF, 766px 46px #FFF, 924px 19px #FFF, 537px 1364px #FFF, 66px 1758px #FFF, 879px 976px #FFF, 1512px 763px #FFF, 885px 1753px #FFF, 325px 1710px #FFF, 14px 107px #FFF, 1787px 261px #FFF, 272px 190px #FFF, 1354px 1573px #FFF, 512px 746px #FFF, 1243px 1066px #FFF, 1084px 958px #FFF, 428px 46px #FFF, 58px 1039px #FFF, 1949px 123px #FFF, 808px 1496px #FFF, 1410px 585px #FFF, 405px 330px #FFF, 785px 94px #FFF, 1002px 1919px #FFF, 1119px 750px #FFF, 918px 793px #FFF, 962px 749px #FFF, 299px 376px #FFF, 255px 1760px #FFF, 749px 1086px #FFF, 76px 577px #FFF, 603px 1629px #FFF, 1588px 184px #FFF, 1258px 1885px #FFF, 663px 466px #FFF, 1027px 465px #FFF, 741px 82px #FFF, 1360px 1695px #FFF, 1460px 1431px #FFF, 432px 1120px #FFF, 235px 183px #FFF, 1900px 1877px #FFF, 621px 836px #FFF, 1737px 1182px #FFF, 652px 1317px #FFF, 1681px 585px #FFF, 631px 1602px #FFF, 1584px 1443px #FFF, 1746px 343px #FFF, 1289px 1718px #FFF, 1859px 943px #FFF, 626px 284px #FFF, 201px 1749px #FFF, 1077px 1969px #FFF, 700px 388px #FFF, 775px 801px #FFF, 1988px 1050px #FFF, 178px 566px #FFF, 943px 1827px #FFF, 1161px 1104px #FFF, 1648px 1057px #FFF, 692px 126px #FFF, 1338px 37px #FFF, 1516px 914px #FFF, 302px 114px #FFF, 630px 820px #FFF, 1464px 1381px #FFF, 364px 1723px #FFF, 1871px 123px #FFF, 418px 1139px #FFF, 1481px 1245px #FFF, 627px 634px #FFF, 1659px 443px #FFF, 960px 1167px #FFF, 1702px 1934px #FFF, 1783px 1519px #FFF, 231px 1483px #FFF, 1623px 1262px #FFF, 287px 1554px #FFF, 822px 981px #FFF, 1149px 1930px #FFF, 32px 1191px #FFF, 1737px 285px #FFF, 1929px 1290px #FFF, 1179px 550px #FFF, 65px 825px #FFF, 1975px 1261px #FFF, 1808px 395px #FFF, 1844px 1721px #FFF, 879px 1665px #FFF, 185px 1472px #FFF, 657px 1492px #FFF, 1931px 1081px #FFF, 89px 1793px #FFF, 106px 365px #FFF, 254px 678px #FFF, 1711px 395px #FFF, 214px 925px #FFF, 456px 1976px #FFF, 1089px 1633px #FFF, 667px 572px #FFF, 1898px 742px #FFF, 141px 1819px #FFF, 461px 1709px #FFF, 1124px 792px #FFF, 785px 1700px #FFF, 529px 1872px #FFF, 684px 983px #FFF, 984px 423px #FFF, 113px 606px #FFF, 1472px 679px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 562px 889px #FFF, 1647px 1843px #FFF, 1830px 896px #FFF, 1881px 1710px #FFF, 473px 1851px #FFF, 141px 1195px #FFF, 1560px 793px #FFF, 1428px 560px #FFF, 382px 376px #FFF, 1817px 1374px #FFF, 1568px 391px #FFF, 1240px 1738px #FFF, 1344px 1200px #FFF, 1957px 1726px #FFF, 39px 961px #FFF, 503px 1067px #FFF, 683px 1461px #FFF, 156px 925px #FFF, 1092px 1285px #FFF, 1661px 1835px #FFF, 885px 1729px #FFF, 1326px 424px #FFF, 1503px 142px #FFF, 1608px 1976px #FFF, 467px 557px #FFF, 1154px 1892px #FFF, 927px 601px #FFF, 1853px 747px #FFF, 1354px 154px #FFF, 849px 513px #FFF, 1764px 1593px #FFF, 823px 260px #FFF, 1349px 1568px #FFF, 470px 442px #FFF, 1286px 1997px #FFF, 1994px 1006px #FFF, 1867px 1617px #FFF, 1527px 1115px #FFF, 976px 1609px #FFF, 757px 850px #FFF, 976px 503px #FFF, 1615px 1819px #FFF, 1713px 51px #FFF, 1356px 1977px #FFF, 513px 1293px #FFF, 1441px 216px #FFF, 1352px 733px #FFF, 617px 16px #FFF, 951px 1563px #FFF, 1032px 346px #FFF, 1326px 708px #FFF, 557px 1002px #FFF, 68px 1761px #FFF, 707px 715px #FFF, 1535px 67px #FFF, 876px 1064px #FFF, 1339px 1372px #FFF, 290px 161px #FFF, 1106px 28px #FFF, 1088px 1848px #FFF, 1243px 501px #FFF, 350px 37px #FFF, 50px 263px #FFF, 558px 167px #FFF, 877px 1980px #FFF, 71px 951px #FFF, 835px 1918px #FFF, 891px 539px #FFF, 998px 768px #FFF, 38px 410px #FFF, 503px 1276px #FFF, 108px 135px #FFF, 151px 1567px #FFF, 1845px 1905px #FFF, 1284px 955px #FFF, 1584px 560px #FFF, 1164px 406px #FFF, 1881px 242px #FFF, 1875px 1131px #FFF, 577px 816px #FFF, 1092px 760px #FFF, 1304px 1974px #FFF, 1923px 1326px #FFF, 593px 536px #FFF, 1381px 1777px #FFF, 290px 927px #FFF, 1520px 1694px #FFF, 923px 1591px #FFF, 625px 1590px #FFF, 1866px 855px #FFF, 988px 464px #FFF, 450px 345px #FFF, 496px 1835px #FFF, 1037px 1609px #FFF, 1673px 1677px #FFF, 1698px 1524px #FFF, 159px 1284px #FFF, 1278px 116px #FFF, 1205px 621px #FFF, 964px 110px #FFF;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 562px 889px #FFF, 1647px 1843px #FFF, 1830px 896px #FFF, 1881px 1710px #FFF, 473px 1851px #FFF, 141px 1195px #FFF, 1560px 793px #FFF, 1428px 560px #FFF, 382px 376px #FFF, 1817px 1374px #FFF, 1568px 391px #FFF, 1240px 1738px #FFF, 1344px 1200px #FFF, 1957px 1726px #FFF, 39px 961px #FFF, 503px 1067px #FFF, 683px 1461px #FFF, 156px 925px #FFF, 1092px 1285px #FFF, 1661px 1835px #FFF, 885px 1729px #FFF, 1326px 424px #FFF, 1503px 142px #FFF, 1608px 1976px #FFF, 467px 557px #FFF, 1154px 1892px #FFF, 927px 601px #FFF, 1853px 747px #FFF, 1354px 154px #FFF, 849px 513px #FFF, 1764px 1593px #FFF, 823px 260px #FFF, 1349px 1568px #FFF, 470px 442px #FFF, 1286px 1997px #FFF, 1994px 1006px #FFF, 1867px 1617px #FFF, 1527px 1115px #FFF, 976px 1609px #FFF, 757px 850px #FFF, 976px 503px #FFF, 1615px 1819px #FFF, 1713px 51px #FFF, 1356px 1977px #FFF, 513px 1293px #FFF, 1441px 216px #FFF, 1352px 733px #FFF, 617px 16px #FFF, 951px 1563px #FFF, 1032px 346px #FFF, 1326px 708px #FFF, 557px 1002px #FFF, 68px 1761px #FFF, 707px 715px #FFF, 1535px 67px #FFF, 876px 1064px #FFF, 1339px 1372px #FFF, 290px 161px #FFF, 1106px 28px #FFF, 1088px 1848px #FFF, 1243px 501px #FFF, 350px 37px #FFF, 50px 263px #FFF, 558px 167px #FFF, 877px 1980px #FFF, 71px 951px #FFF, 835px 1918px #FFF, 891px 539px #FFF, 998px 768px #FFF, 38px 410px #FFF, 503px 1276px #FFF, 108px 135px #FFF, 151px 1567px #FFF, 1845px 1905px #FFF, 1284px 955px #FFF, 1584px 560px #FFF, 1164px 406px #FFF, 1881px 242px #FFF, 1875px 1131px #FFF, 577px 816px #FFF, 1092px 760px #FFF, 1304px 1974px #FFF, 1923px 1326px #FFF, 593px 536px #FFF, 1381px 1777px #FFF, 290px 927px #FFF, 1520px 1694px #FFF, 923px 1591px #FFF, 625px 1590px #FFF, 1866px 855px #FFF, 988px 464px #FFF, 450px 345px #FFF, 496px 1835px #FFF, 1037px 1609px #FFF, 1673px 1677px #FFF, 1698px 1524px #FFF, 159px 1284px #FFF, 1278px 116px #FFF, 1205px 621px #FFF, 964px 110px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.container1 {
  
  background: url(images/cont2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  border-radius: 0%;
  transition: 0.5s ease;
  padding-bottom: 150px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.text2 {
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  text-transform: uppercase;
  background: linear-gradient(100deg, #000, black, white, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 10s linear infinite;
  
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}

.h1 {
  font-size: 40px;
  padding-top: 10px;
}

.our-story {
  font-size: 35px;
  text-align: center;
  font-weight: bolder;
  padding-top: 245px;
  line-height: 30px;
}

.p1 {
  font-size: 17px;
  padding-top: 7px;
  text-align: center;
  font-weight: bold;
  color: black;
  line-height: 40px;
}

.text2 {
  color: black;
  text-align: center;
  font-weight: bold;
}

.container2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.458) 0%, rgba(0, 0, 0, 0.682) 100%), url(images/cont1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 .our-team {
  padding-top: 200px;
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.container2 .team-intro {
  padding-top: 30px;
  color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.2px;
}

.container3 {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 750px;
  margin: 4rem auto;
  font-family: Roboto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card {
  margin-top: -75px;
  margin-right: 26px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgb(0 0 0);
  width: 14rem;
  height: 22rem;
  border-radius: 8px;
  overflow: hidden;

  .card-img {
    perspective: 1000px;

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }

    &:hover .flip-card-inner {
      transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .flip-card-front {
      background-color: #bbb;
      color: black;
    }

    .flip-card-back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }

    img {
      width: 100%;
      height: 17rem;
      object-fit: cover;
      object-position: top;
    }
  }

  .card-body {
    padding: 1rem;
    margin-top: 17rem;

    h3 {
      margin: 0;
    }

    small {
      opacity: 0.6;
      margin-bottom: 0;
    }
  }
}


.support-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-left: 1rem;
}


footer {
  background-color: #000;
}

.parent-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5%;
  justify-content: space-between;
}

.nav-line li {
  list-style: none;
  line-height: 50px;
  text-align: center;

}

.nav-line li a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  transition: 1s ease;
}

.nav-line li a:hover {
  background-color: #8b6c5c;

}

.contact-footer a {
  text-decoration: none;
  color: aliceblue;
  line-height: 50px;
  padding: 10px;
  border-radius: 15px;
  transition: 1s ease;

}

.contact-footer a:hover {
  background-color: #8b6c5c;

}

.contact-footer h2 {
  line-height: 50px;
  color: aliceblue;
  text-align: center;
}

.imgdiv img {
  height: 300px;
  width: 180px;
}

.time {
  text-align: center;
  color: aliceblue;

}

.time li {
  line-height: 50px;
  list-style: none;
}

.time h2 {
  line-height: 50px;
}




.ftlogo img {

  height: 70px;
  width: 70px;
  margin-left: 200px;
}

footer .social-links {
  display: flex;
  justify-content: center;

}



.end {

  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.308);
  height: 100px;

}

.end p {
  margin-top: 20px;
  color: #ffffff81;
}

footer:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.458) 0%, rgba(0, 0, 0, 0.682) 100%), url(./images/hed2.jpg), rgba(211, 211, 211, 0.123) 0px -552.81px / 100% 521.381% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 105h;
  color: white;
  border-radius: 0%;
  transition: 0.5s ease;
}

#accordion {
  max-width: 1200px;
  margin: 0 auto;
  padding:100px;
  font-family: 'Dancing Script', cursive;
}


.ui-accordion-header {
  background-color: #8b6c5c;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #FFF;
  margin: 20px;
}


.ui-accordion-header.ui-state-active {
  background-color: #ddd;
  color: black;
}


.ui-accordion-content {
  padding: 15px;
  border-top: 1px solid #ddd;
}
